<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit form</h1>
<p>
    <a href="/customers">Customer list</a>
</p>

<div>
    <form th:action="@{/update-customer}" method="post" th:object="${customer}">
        <input th:type="hidden" name="id" th:field="*{id}">

        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" th:field="*{firstName}"></td>

            </tr>

            <tr>
                <td>Last Name</td>
                <td><input type="text" th:field="*{lastName}"></td>
            </tr>

            <tr>
                <td>Province</td>
                <td>
                    <select th:name="province">
                        <option th:each="pro: ${provinces}"
                                th:value="${pro.id}"
                                th:text="${pro.name}"
                                th:selected="(${pro.id} == *{province.id})"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Summit"></td>
            </tr>

        </table>
    </form>
</div>
</body>
</html>